<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983955052574-i5ckn7s08fkclqojskqq197bcjqph8q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983955052574-i5ckn7s08fkclqojskqq197bcjqph8q3</string>
	<key>API_KEY</key>
	<string>AIzaSyBO45ZVEVoz0z2H3AxV54zu-K53Ah5jTuk</string>
	<key>GCM_SENDER_ID</key>
	<string>983955052574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.singlemindconsulting.louzero</string>
	<key>PROJECT_ID</key>
	<string>louzero-3cbe4</string>
	<key>STORAGE_BUCKET</key>
	<string>louzero-3cbe4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983955052574:ios:d9ff8ff2461558d084f60f</string>
</dict>
</plist>