<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85174181615-sv60e3v4fb2lr57guup19bk1sa0lrelt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85174181615-sv60e3v4fb2lr57guup19bk1sa0lrelt</string>
	<key>API_KEY</key>
	<string>AIzaSyDrgyagQ7oa-7uEXId8EA-AfdbE_Zz05EM</string>
	<key>GCM_SENDER_ID</key>
	<string>85174181615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.singlemindconsulting.louZeroMobile</string>
	<key>PROJECT_ID</key>
	<string>louzero</string>
	<key>STORAGE_BUCKET</key>
	<string>louzero.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85174181615:ios:87b8033571e6c9f86ec51a</string>
</dict>
</plist>